.form-wrapper{
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    text-align: center;
    height:auto;
}
.form-wrapper input, .fb-login-btn{
    border-radius: 2px;
    display: block;
    margin: .5em auto;
}
.form-wrapper input[type='text'], input[type='password'], input[type="email"]{
    border:1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    min-height:2em;
    padding: 5px 10px;
    width: 90%;
}
.form-wrapper input[type='submit']{
    background: #bf0b2d;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.37);
    color: #f1f1f1;
    float: right;
    margin: 1em;
    padding: 8px 15px;
}
.form-component label{
    display: block;
}
.successMessage{
    border-bottom:1px solid #999999;
    color: #23b53f;
    margin: 1em;
    padding: .5em 0;
    text-align: left;
}
.errorMessage{
    border-bottom:1px solid #999999;
    color: #bf0b2d;
    margin: 1em;
    padding: .5em 0;
    text-align: left;
}
.errorMessage li{
    font-size:.8em;
    list-style: katakana-iroha;
}
[class*='glossButton-']{
    border: 1px solid rgba(0,0,0,0.35);
    border-radius: 3px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 8px 15px;
    box-shadow: inset 0 1px 0 rgba(100,120,120,.5),0 1px 0 rgba(0,0,0,.15);
}
[class*='flatButton-']{
    color: #fff;
    border-radius: 1px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    white-space:nowrap;
    display: inline-block;
    line-height: 2;
}

.message-error{
    color: #bf0b2d;
}
.glossButton-medium{
    background: #bf0b2d;
    float: right;
    margin-right: 3em;
}
.mini{
    min-height: 2em;
    padding-bottom:5px;
}
#def_form{
    margin-top: .8em;
}
#def_form *{
    line-height:1.5;
}
#def_form label{
    display: block;
}
#def_form textarea, #def_form input[type='text']{
    border-radius: 2px;
    border: none;
    border-bottom:1px solid #e5e6e9;
    padding: 0;
    margin: 0;
    resize: none;
    width: 100%;
    display: block;
}
#def_form input[type='submit']{
    border-radius: 2px;;
    float: right;
    margin-right: 2em;
    margin-bottom: 1.5em;
    padding:8px 15px;
}

@media all and (max-width:800px){

}

@media all and (max-width:650px){
    .form-wrapper{
        border: none;
        padding:0;
    }
    .form-wrapper input{

    }
    .form-wrapper input[type='text'], input[type='password']{

    }
    .form-wrapper input[type='submit']{

    }
    #def_form {
        padding: 0;
    }
}