/**basic reset and general page layouts plus*/
.grid-container, .grid{
    width : 100%;
}
.row:before,
.row:after {
    content:"";
    display: table ;
    clear:both;
}
.col-1{
    width: 16.66%;
}
.col-2{
    width: 33.33%;
}
.col-3{
    width: 50%;
}
.col-4{
    width: 66.664%;
}
.col-5{
    width: 83.33%;
}
.col-6{
    width: 100%;
}
[class*='col-'] {
    float: left;
    min-height: 1px;
    /*-- our gutter --*/
    padding: 12px;
}
[class*='col-'].centered{
    float: none;
    margin: auto;
}
#body-container{
    padding-top: 1em;
    min-height: 100%;
    width: 96%;
    margin: auto;
}
/**dialogs and alerts**/
.overlay{
    background: rgba(0, 0, 0, 0.8) ;
    display: none;
    height: 100%;
    min-height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}
.loader{
    width: 30px;
    height: 30px;
    margin-top: -1em;
}
.modal-dialog{
    display: none;
    position: fixed;
    z-index: 3;
    padding: 0;
}
.modal-is-open{
    overflow-y: hidden;
}
.modal-close{
    background: rgba(0,0,0,0.56);
    border: 5px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
    padding: 5px;
    position:absolute;
    right: 10%;
}
.modal-close:focus, .modal-close:hover{
    color: #ffffff;
}
@media all and (max-width:800px){
    .col-1{ width: 33.33%;    }
    .col-2{ width: 50%;        }
    .col-3{ width: 83.33%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;      }

    .row .col-2:last-of-type{
        width: 100%;
    }

    .row .col-5 ~ .col-1{
        width: 100%;
    }
    /**dumb comment here -- classes coming from main index
    * Prevent images from overflowing their prent
    **/
    img{
        max-width: 100%;

    }
}
@media all and (max-width:650px){
    .col-1{ width: 50%;        }
    .col-2{ width: 100%;    }
    .col-3{ width: 100%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;      }
}